#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-image: url("https://thesolaropposites.com/lessonalyzer/img/stars-seamless.edcef73f.png");
    background-repeat: repeat;
    background-size: contain;
    background-color: #000d42;
    font-family: Times New Roman, serif;
    height: 100vh;
    width: 100%;

}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.contenedor-principal {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-around; /* Horizontal */
}

.korvo {
    background-color: dimgrey;
    max-width: 25vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.barrita {
    margin-bottom: 5px;
    width: 100%;
}

.boton {
    width: 30vw;
    height: 50vh;

    background-color: blueviolet;
    margin-bottom: 50px;
}


.boton-contenido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}



.contenedor-imagenes {
    position: relative;
    display: inline-block;
}

.imagen-fondo {
    display: block;
}

.gif-superpuesto {
    position: absolute;

    right: 0;
    width: 150px;
}

.boton-contenido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* arriba / medio / abaixo */
    align-items: center;
    text-align: center;
}

.boton {
    width: 300px;
    height: 150px;
    background-color: #1e3aff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    cursor: pointer;
    user-select: none;
}

.fila {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}
